
h1 {
  text-align: center;
  color: rgb(80, 150, 155);
  font-size: 40px;
  background-color: white;
}

body {
  background-color: rgb(179, 190, 190);
}

#padding {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}


/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }

  